In [1]:
import numpy as np
import pandas as pd
import functools
import ast
import re

In [5]:
df1 = pd.read_csv("literature/datasets/jigsaw/train.csv")

In [14]:


def process1(data):
    data = re.sub(r'\n'," ",data)
    return data.strip()
    

def process_data(df):
    processed_column = df['comment_text']
    processed_column = processed_column.apply(lambda x:process1(x))
    df["text"] = processed_column
    return df

In [15]:
df1 = process_data(df1)

In [18]:
df_new = pd.DataFrame()
df_new["text"] = df1["text"]
df_new["class"] = df1["identity_hate"]

In [22]:
df_new.to_csv("literature/datasets/jigsaw/processed.csv",header=True, index=False)

In [2]:
datasets = {
    "davidson" : pd.read_csv("literature\datasets\dt\labeled_data_all_2classes_only.csv", index_col=0),
    "hateval" : pd.read_csv("literature\\datasets\\hateval\\train_en.tsv", sep='\t', index_col=0),
    "ethos" : pd.read_csv("literature\\datasets\\ethos\\Ethos_Dataset_Binary.csv", sep=';')
}

In [3]:
datasets["davidson"] = datasets["davidson"].rename({"tweet":"text"}, axis=1)
datasets["davidson"]['class'] = datasets["davidson"]['class'].replace({0: 1, 2: 0})

datasets["hateval"] = datasets["hateval"].rename({"HS":"class"}, axis=1)

datasets["ethos"] = datasets["ethos"].rename({"comment":"text", "isHate":"class"}, axis=1)
datasets["ethos"]['class'] = datasets["ethos"]['class'].astype("int")

In [7]:
df_david = pd.DataFrame()
df_david["text"] = datasets["davidson"]["text"]
df_david["class"] = datasets["davidson"]["class"]
df_david

                                                    text  class
0      !!! RT @mayasolovely: As a woman you shouldn't...      0
1      !!!!! RT @mleew17: boy dats cold...tyga dwn ba...      0
2      !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...      0
3      !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...      0
4      !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...      0
...                                                  ...    ...
25291  you's a muthaf***in lie &#8220;@LifeAsKing: @2...      0
25292  you've gone and broke the wrong heart baby, an...      0
25294  young buck wanna eat!!.. dat nigguh like I ain...      0
25295              youu got wild bitches tellin you lies      0
25296  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...      0

[24783 rows x 2 columns]

In [8]:
df_hateval = pd.DataFrame()
df_hateval["text"] = datasets["hateval"]["text"]
df_hateval["class"] = datasets["hateval"]["class"]
df_hateval

                                                   text  class
id
201   Hurray, saving us $$$ in so many ways @potus @...      1
202   Why would young fighting age men be the vast m...      1
203   @KamalaHarris Illegals Dump their Kids at the ...      1
204   NY Times: 'Nearly All White' States Pose 'an A...      0
205   Orban in Brussels: European leaders are ignori...      0
...                                                 ...    ...
9196  @mmdwriter @JRubinBlogger @BenSasse I am proud...      0
9197  @CheriJacobus Hollywood is complicit in the ra...      0
9198  @amaziah_filani What a fucking cunt I hate see...      1
9199                  Hysterical woman like @CoryBooker      0
9200  Nearly every woman I know has #meToo in their ...      0

[9000 rows x 2 columns]

In [9]:
df_ethos = pd.DataFrame()
df_ethos["text"] = datasets["ethos"]["text"]
df_ethos["class"] = datasets["ethos"]["class"]
df_ethos

                                                  text  class
0            You should know women's sports are a joke      1
1      You look like Sloth with deeper Downâ€™s syndrome      1
2    You look like Russian and speak like Indian. B...      1
3                 Women deserve to be abused, I guess.      1
4    Women are made for making babies and cooking d...      1
..                                                 ...    ...
993   From the midnight sun where the hot springs blow      0
994                        Don't say I'm not your type      0
995   And therefore never send to know for whom the...      0
996                      And I can't stand another day      0
997   All values, unless otherwise stated, are in U...      0

[998 rows x 2 columns]

In [10]:
df_david.to_csv("datasets/model_training/davidson.csv",header=True, index=False)
df_hateval.to_csv("datasets/model_training/hateval.csv",header=True, index=False)
df_ethos.to_csv("datasets/model_training/ethos.csv",header=True, index=False)